In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn import tree
from sklearn.metrics import mean_squared_error

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/9_decision_tree/salaries.csv")
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [ ]:
df_new=df.drop(['salary_more_then_100k'],axis=1)
df_new

       company                  job     degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      sales executive  bachelors
11    facebook      sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters

In [ ]:
target=df['salary_more_then_100k']
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [ ]:
le_company=LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()

In [ ]:
df_new['c_n']=le_company.fit_transform(df['company'])
df_new['j_n']=le_job.fit_transform(df['job'])
df_new['d_n']=le_degree.fit_transform(df['degree'])
df_new

       company                  job     degree  c_n  j_n  d_n
0       google      sales executive  bachelors    2    2    0
1       google      sales executive    masters    2    2    1
2       google     business manager  bachelors    2    0    0
3       google     business manager    masters    2    0    1
4       google  computer programmer  bachelors    2    1    0
5       google  computer programmer    masters    2    1    1
6   abc pharma      sales executive    masters    0    2    1
7   abc pharma  computer programmer  bachelors    0    1    0
8   abc pharma     business manager  bachelors    0    0    0
9   abc pharma     business manager    masters    0    0    1
10    facebook      sales executive  bachelors    1    2    0
11    facebook      sales executive    masters    1    2    1
12    facebook     business manager  bachelors    1    0    0
13    facebook     business manager    masters    1    0    1
14    facebook  computer programmer  bachelors    1    1    0
15    facebook  computer programmer    masters    1    1    1

In [ ]:
df_final=df_new.drop(['company','job','degree'],axis='columns')
df_final

    c_n  j_n  d_n
0     2    2    0
1     2    2    1
2     2    0    0
3     2    0    1
4     2    1    0
5     2    1    1
6     0    2    1
7     0    1    0
8     0    0    0
9     0    0    1
10    1    2    0
11    1    2    1
12    1    0    0
13    1    0    1
14    1    1    0
15    1    1    1

In [ ]:
model=tree.DecisionTreeClassifier()
model.fit(df_final,target)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
model.score(df_final,target)

1.0

In [ ]:
y_predicted=model.predict(df_final)
y_predicted

array([0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1])

In [ ]:
mean_squared_error(y_predicted,target)

0.0